repos/
.config/tmux/plugins/
.config/nvim/node_modules/
.config/nvim/*.json
.DS_Store
.config/raycast/
.config/colima/*
.config/sketchybar/compiled_components/build/
.config/btop/
.config/wireshark/
.config/cagent/
